@page
@* @page muss am Anfang stehen. Damit erkennt MVC, dass es sich um eine Page handelt *@
@* Pages haben keine Geschäftslogik *@
@{
    ViewData["Title"] = "Error";
}

<h2>Sorry ...</h2>
<p>Hier ist ein Fehler aufgetreten. Bitte später nochmal versuchen</p>